<aside>
    <div class="nav-wrapper">
        <nav>
            <ul>
                <li class="header">
                    <span>Main Navigation</span>
                </li>
                <li>test2</li>
                <li>test3</li>
            </ul>
        </nav>
    </div>
</aside>