@bodyBgColor : #f5f7fa;
@lineHeight : 1.52857143;
@headerHeight : 55px;
@headerColor : #23b7e5;
@headerColorTo : #51c6ea;
@asideWidth : 220px;
@asideNavBgColor : #fff;
@navHeadingColor : #919da8;

//standard begin
@eps-var-font-color : #676a6c;